@model lepasi.samochod

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Models/Table/Edity.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>samochod</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SA_model)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_model)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_stan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_stan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_cena)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_cena)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_kolor)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_kolor)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_rok_produkcji)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_rok_produkcji)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_kraj_pochodzenia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_kraj_pochodzenia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SA_liczba_miejsc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SA_liczba_miejsc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.marka.MA_nazwa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.marka.MA_nazwa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.status.ST_nazwa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.status.ST_nazwa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.typ.TY_nazwa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.typ.TY_nazwa)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.SA_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
