@model IEnumerable<lepasi.samochod>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/Scripts/Szukanie/szukanie.js"></script>
    <script src="~/Scripts/Sortowanie/sort.js"></script>
    <link href="~/Models/Table/Table.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        #myInput {
            background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }

        .chrum {
            position: relative;
            left: 300px;
        }

        th {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <div>
        @{ Html.RenderAction("Menu", "Menu");}
    </div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Szukaj po modelu..">
    <div class="chrum" style="color:black">
        <table class="table" align="center" style="color:black" id="myTable">
            <tr class="header">
                <th onclick="sortTable(0)">
                    @Html.DisplayNameFor(model => model.SA_model)
                </th>
                <th onclick="sortTable(1)">
                    @Html.DisplayNameFor(model => model.SA_stan)
                </th>
                <th onclick="sortTable(2)">
                    @Html.DisplayNameFor(model => model.SA_cena)
                </th>
                <th onclick="sortTable(3)">
                    @Html.DisplayNameFor(model => model.SA_kolor)
                </th>
                <th onclick="sortTable(4)">
                    @Html.DisplayNameFor(model => model.SA_rok_produkcji)
                </th>
                <th onclick="sortTable(5)">
                    @Html.DisplayNameFor(model => model.SA_kraj_pochodzenia)
                </th>
                <th onclick="sortTable(6)">
                    @Html.DisplayNameFor(model => model.SA_liczba_miejsc)
                </th>
                <th onclick="sortTable(7)">
                    @Html.DisplayNameFor(model => model.marka.MA_nazwa)
                </th>
                <th onclick="sortTable(8)">
                    @Html.DisplayNameFor(model => model.status.ST_nazwa)
                </th>
                <th onclick="sortTable(9)">
                    @Html.DisplayNameFor(model => model.typ.TY_nazwa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_stan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_cena)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_kolor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_rok_produkcji)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_kraj_pochodzenia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SA_liczba_miejsc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marka.MA_nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status.ST_nazwa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.typ.TY_nazwa)
                    </td>
                    <td>
                        @Html.ActionLink("Edycja", "Edit", new { id = item.SA_id }) |
                        @Html.ActionLink("Dodaj", "Create") |
                        @Html.ActionLink("Usuń", "Delete", new { id = item.SA_id })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
