@model lepasi.status

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Models/Edycja/Edycja.css" rel="stylesheet" />
    <link href="~/Models/Form/style.css" rel="stylesheet" />
    <link href="~/Models/Table/Edity.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body style="color:black; text-shadow:none">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <div class="box_leavy_comments">
        <div class=".box_leavy_comments">
            <h3>Jesteś pewny ?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ST_nazwa)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ST_nazwa)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Usuń" class="btn btn-default" /> |
                        @Html.ActionLink("Wróć", "Index")
                    </div>
                }
            </div>
            </div>
        </div>
</body>
</html>
